.item-servicio{
    display: flex;
    flex-direction: column;
    margin: 100px;
}
.items{
    display: flex;
    flex-direction: row;
    margin:40px 0px 50px 10px;

}
.item-info{
    margin:0 10px 10px 10px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
   
    color: white;
}

.imagen-servicio{
  
    height: 100%;
}
.item-img{
    margin-left: 25px;
    overflow: hidden;
    height: 400px;
}
.titulo-servicio{
    font-family: 'montserrat-bold';
    font-size: 35px;
    margin:0 10px;
    text-align: initial;
    
}
.moreinfo{
    font-size: 15px;
   margin-left: 10px;
    font-family: 'montserrat-it';
    text-align: justify;
}
.boton-servicios{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 420px) {
    .item-servicio{
        margin: 5px;
    }
    .items{
        margin: 5px;
    }
    .item-img{
        height: 100px;
        margin: 0;
    }
    .titulo-servicio{
        font-size: 10px;
    }
    .moreinfo{
        font-size: 5px;
    }
    .boton-servicios{
        font-size: 5px;
        
    }
}