.button {
    color: white;
    border-style: none;
    text-align: initial;
    padding: 0;
}

.button:hover {
    border-bottom: solid;
    border-radius: 0px;
    border-color: white;
    padding-bottom: .5rem;
}