.container_obras_destacadas {
    margin: 100px 0;
}

.obras__destacadas-title > h1 {
    font-size: 2rem;
    text-align: center;
    margin: 60px 0;
    font-weight: 300;
}

.obras__destacadas-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .2rem;
    align-items: baseline;
    justify-items: center;
}

.obras__destacadas-content-img > img {
    width: 500px;
    height: 500px;
}

