.whatsapp-icono {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.whatsapp-icono a {
    color: white;
    background-color: #1dd639;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    padding: 15px 20px;
    transition: all 0.3s; 
}

.whatsapp-icono a:hover {
    background-color: #159828; 
}
