.servicios {
    font-family: 'montserrat-light';
    color: white;
    margin-top: 20px;
}

.servicio-titulo {
    font-size: 70px;
}

.servicios_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios-cont {
    margin: 40px 0 20px 0;
    width: 50%;
    padding: 10px 20px 60px 60px;
    border-left: solid;
    border-left-color: white;
    text-align: center;
    border-width: 1px;
    display: inline-block;
}

.servicios-cont > p {
    font-size: 18px;
    letter-spacing: .02rem;
    line-height: 26px;
}

.hr3 {
    margin-top: 30px;
    width: 800px;
    margin-left: -120px;
}

.titulo-servicios-cont{
    margin: 20px;
    font-family: 'montserrat-semibold';
}

@media screen and (min-width: 320px) and (max-width: 420px) {

    .servicio-titulo {
        font-size: 20px;
    }

    .servicios-cont {
        padding: 0;
        margin: 20px;
        border: none;
        font-size: 5px;
        display: flex;
        width: 100%;
    }

}