@font-face {
    font-family: 'montserrat-light';
    src: url(../../Fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'montserrat-reg';
    src: url(../../Fonts/Montserrat-Regular.ttf);
}
.detail-container{
    display: flex;
    flex-direction: column;
}
.mySwiper {
    max-width: 100%;
    max-height: 100%;
  
}
.swiper-detail  .content_imagen img {
    height: 550px;
    width: 100%;
}
.detail__content-title {
    padding: 2rem;
    font-family: 'montserrat-reg';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-work {
    font-size: 20px;
}

.content_imagen {
    max-width: 100%;
    margin: 0 5px;
}

.content_imagen-img > img {
    width: 100%;
}


.imagen_detail {
   height: 460px;
    object-fit: cover;
    object-position:  center;
}

.detail__content-title > h1 {
    font-size: 3rem;
    letter-spacing: .05rem;
}

.hr{
    margin: 40px;
    width: 200px;
}

.hr2 {
    margin-left: -70px;
    width: 700px; 
    margin-top: 30px;
}

.detail__content-subtitle {
    padding: 2rem;
    font-size: 1rem;
    font-weight: 300;
    margin: 4rem 10rem 0;
    text-align: left;
    border-left: solid;
    border-left-color: white;
    border-width: 1px;
    height: 200px;
}

.detail__content-parrafo {
    padding: 2rem 2rem 0 0;
    font-size: 4rem;
    margin: 0;
    font-weight: 500;
    text-align: left;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.detail_content-ubication {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 30px;}
    .detail-description{
        font-family: 'montserrat-light';
        font-size: 20px;
    }
    .detail-ubication{
        font-family: 'montserrat-it';
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .detail__content-title > h1{
            font-size: 35px;
        }
        .detail-work{
            font-size: 13px;
        }
        .detail__content-subtitle{
            margin: 50px 0 10px 50px;
        }
        .detail_content-ubication{
            margin:0 30px 20px 70px
        }
        .detail-description{
            font-size: 15px;
        }
        .detail-ubication{
            font-size: 10px;
        }
        .swiper-detail  .content_imagen img {
            height: 350px;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        .detail__content-title > h1{
            font-size: 25px;
        } 
        .hr{
            width: 100px;
        }
        .detail-work{
            font-size:10px;
        }
        .detail__content-subtitle{
            margin:0;
            border: none;
            font-size: 17px;
        }
        .hr2{
            display: none;
        }
        .swiper-detail  .content_imagen img {
            height: 200px;
        }
        .detail-description{
            font-size: 15px;
        }
        .detail-ubication{
            font-size: 10px;
        }
        .detail_content-ubication{
            margin: 0 30px 30px 30px;
        }
    

    }