@font-face {
    font-family: montserrat-md;
    src: url(../../Fonts/Montserrat-Medium.ttf);}
    @font-face {  font-family: montserrat-bold;
    src: url(../../Fonts/Montserrat-Bold.ttf);}
    @font-face { font-family: montserrat-semibold;
    src: url(../../Fonts/Montserrat-SemiBold.ttf);}

@font-face {
    font-family: montserrat-it;
    src: url(../../Fonts/Montserrat-Italic.ttf);
}

.mapa {
    width: 90%;
    margin: 0 5% 0 5%;
}

.imagen-mapa {
    width: 100%;
    margin: 50px 0;
}

.informacion {
    display: flex;
    flex-direction: row;
    color: white;
}

.informacion-contacto {
    width: 50%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.titulo-contacto {
    font-family: 'montserrat-semibold';
    text-align: left;
    font-size: 40px;
}

.hr4 {
    margin: 50px 0;
    text-align: left;
    width: 20px;
    color: white;
}

.descripcion-contacto{
    text-align: left;
    font-family: 'montserrat-it';
    font-weight: 100;
    margin-top: 20px;
}
.iconos-informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.icon {
    margin-right: 30px;
    width: 20px;
    height: 20px;
}

.ubicacion-contacto {
    margin-top: 20px;
}
.direccion-contacto
{ text-align: left;
font-family: 'montserrat-md';
font-weight: 600;
margin: 10px 0 10px 0
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
   
    .informacion-contacto{
        margin: 50px 0 0 40px;
        width: 50%;
    }
    .titulo-contacto{
        font-size: 30px;
    }
    .descripcion-contacto{
        font-size: 15px;
    }
    .hr4{
        margin: 24px 0 ;
    }
   
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .imagen-mapa{
        margin: 0;
    }
    .informacion{
        flex-direction: column;
    }

    .informacion-contacto {
        width: 100%;
        margin: 20px 0 0 5%;
    }
    .titulo-contacto{
        font-size: 20px;
    }
  .hr4{
        margin: 15px 0 ;
    }
    .descripcion-contacto{
        font-size: 10px;
        margin: 0;
    }
    .ubicacion-contacto {
        font-size: 15px;
    }
    .icon {
        width: 15px;
        height: 15px;
    }
    .direccion-contacto{
        font-size: 12px;
    }
}
