.obras__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: baseline;
    justify-items: center;
}

.obras__content-title > h1 {
    font-size: 1rem;
    margin: .3rem 0;
    text-align: left;
}

.container__linea {
    max-width: 100%;
}

.button-linea-de-tiempo {
    margin: 15px;
}

.dest > h1 {
    font-size: 70px;
    font-family: 'montserrat-light';
}

.obras__content-title > p {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .45rem;
    text-align: left;
}

.obras__content-img {
    text-align: center;
}



.linea-de-tiempo {
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 10px;
    justify-content: center;

  }

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .obras__content {
        grid-template-columns: 1fr 1fr;
    }

    .dest > h1 {
        font-size: 35px;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .linea-de-tiempo {
        margin: 0;      
    }
   
    .dest > h1 {
        margin:5px;
        font-size: 25px;
    }

}