@font-face {
  font-family: 'montserrat';
  src: url(./Fonts/Montserrat-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  font-family: 'montserrat';
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 10px;
}

button:focus,
button:focus-visible {
  border-bottom: 2px solid transparent; 
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* 

@media screen and (max-width: 720px) {
  .container {
    max-width: 420px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 320px;
  }
} */