@font-face {
    font-family: 'monserrat-it';
    src: url(../../Fonts/Montserrat-Italic.ttf);
}

.container-arte-de-iluminar {
    margin: 200px 0;
}

.arte-de-iluminar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;

}

.imagen-arte {
    height: 400px;
    width: 450px;
    overflow: hidden;
    border-radius: 400px;
    position: relative;
}

.titulo {
    font-size: 20px;
    color: white;
    width: 200px;
    font-weight: 500;
    margin-bottom: 40px;
}

.descrip-titulo {
    width: 500px;
    color: white;
    font-family: 'monserrat-it';
    line-height: 2;
}

.lado-a {
    text-align: initial;
}

.boton-arte {
    margin-top: 40px;
}

.blur-arte {
    background-color: rgb(255, 223, 159);
    position: absolute;
    top: 115%;
    left: 65%;
    width: 300px;
    height: 300px;
    filter: blur(100px);
    border-radius: 400px;
}

.titulo-arte {
    font-family: 'monserrat-it';
}

.hide { display: none; }
.show { display: block; }

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .container-arte-de-iluminar {
        margin: 40px 0;
    }

    .blur-arte {
        display: none;
    }

    .arte-de-iluminar {
        flex-direction: column;
        margin: 70px 15px;
    
    }
    .titulo {
        font-size: 20px;
    }

    .descrip-titulo {
        max-width: 100%;
        font-size: 16px;

    }

    .imagen-arte {
        display: none;
    }

}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .container-arte-de-iluminar {
        margin: 0px 0;
    }
    .boton-arte {
        font-size: 10px;
    }

    

    .arte-de-iluminar {
        flex-direction: column;
        margin: 70px 15px;
    
    }

    .titulo {
        font-size: 18px;
    }

    .descrip-titulo {
        max-width: 100%;
        font-size: 16px;

    }      
    .blur-arte {
       width: 100px;
       height: 100px;
       color: blanchedalmond;
       filter: blur(70px);
    }
.lado-b{
    position:absolute;
left: 55%;
}

    .imagen-arte {
    display: none;
    }

}