@font-face {
    font-family: 'monserrat-it';
    src: url(../../Fonts/Montserrat-Italic.ttf);
}


.arte-de-iluminar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;

}
.imagen-arte{
    height: 400px;
    width: 400px;
    border-radius: 400px;
   position: relative;
}
.titulo{
    font-size: 20px;
    color: white;
    width: 200px;
    font-weight: 500;
}
.descrip-titulo{
    width: 500px;
   
    color: white;
    font-family: 'monserrat-it';
    line-height: 2;
}
.lado-a{
    text-align: initial;
}
.boton-arte{
    margin-top: 40px;
}
.blur-arte{
    background-color: rgb(255, 223, 159);
    position: absolute;
    top: 820px;
    left: 1000px;
    width: 300px;
    height: 300px;
    filter: blur(100px);
    border-radius: 400px;
}
.titulo-arte{
font-family: 'monserrat-it';
}
